CHANNEL_ACCESS_TOKEN='DdQ0G9/TZVwpVcODk9uZSWzR9P+HIGxSmFI9ibeFr4Hlw6RhENrtRteMX5JurL6xdb7bOW3WJTvOkUH4S7AMYA2VP5x15tz8P3E0BsKNBCPtXvUIrAoif5owxL3djjwaVsn/g9C1ScXpmFFjXnSddQdB04t89/1O/w1cDnyilFU='
OPEN_AI_API_KEY='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' #ChatGPT